fastapi
uvicorn
llama-cpp-python
groq
python-dotenv
pydantic-settings
langdetect
httpx
deep-translator
ctranslate2
transformers
IndicTransToolkit
torch
requests
beautifulsoup4
SpeechRecognition
gTTS
reportlab
rank-bm25
sentence-transformers
paddlepaddle
paddleocr
pdf2image
Pillow
psycopg2-binary
pgvector
faiss-cpu
numpy
playwright
jinja2
python-multipart
